<div class="alert alert-danger">
  <h1>Inhabitants in Church</h1>
</div>
<hr>

<table class="table table-striped">
  <tr>
    <th></th>
    <th>First name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Married with</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% Inhabitant.where(:user_id => session[:user_id]).each do |inhabitant| %>
      <tr>
        <td>
          <% if (inhabitant.gender == 'Female') %>
              <img src="/img/female.png">
          <% else %>
              <img src="/img/male.png">
          <% end %>
        </td>
        <td><%= inhabitant.first_name %></td>
        <td><%= inhabitant.last_name %></td>
        <td><%= inhabitant.gender %></td>
        <td><%= inhabitant.age %></td>
        <% spouse= Wedding.get_spouse(inhabitant.id) %>
        <td>
          <% if spouse.nil? %>
              <%= "--" %>
          <% else %>
              <%= spouse.first_name %>  <%= spouse.last_name %>
          <% end %>
        </td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  <% end %>
</table>

<hr>

<div class="btn btn-info"> <%= link_to 'Inhabitants list', inhabitants_path %></div>
<div class="btn btn-info" data-toggle="modal" href="#weddingModal"><%= link_to 'Get married', new_wedding_path %> </div>
<br/>

<div class="modal" id="weddingModal">
  <div class="modal-header">
    <div class="alert alert-danger">
      <h3>New marriage</h3>
    </div>
  </div>
  <div class="modal-body">
    <%= render 'form' %>
  </div>

  <div class="modal-footer">
    <%= link_to 'Back', church_url, class: 'btn btn-info' %>
  </div>
</div>
