<%= form_tag user_sessions_path, :method => :post do %>
    <div class=" form-group">
      <div class="form-control form-bloc">
        <%= label_tag 'Username or Email' %>
        <%= text_field_tag :username %>
      </div>
    </div>

    <div class="form-control form-bloc">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <br/>
    <div class="actions form-bloc">
      <%= submit_tag "Sign in", class: 'btn btn-info' %>
    </div>
<% end %> 