<%= form_tag user_sessions_path, :method => :post do %>
    <div class="field">
      <%= label_tag 'Username or Email' %>
      <%= text_field_tag :username %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Sign in" %>
    </div>
<% end %> 